/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 font-family: 'Roboto', sans-serif;
 font-family: 'Alata', sans-serif;
 *= require_tree .
 *= require_self
 */



#cann{
	width: 400px;
	height: 400px;
	position:absolute;
	top:10%;
	left:10%;
	border:2px solid;
}

.picker{
	width: 50px;
	height: 50px;
	display: block;
}

/*************************************************BODY/HTML**********************************************/

html, body{
	font-family: 'Alata', sans-serif;
	background-color: #F4EBD9;
	color: #483D3F;
}
body{
	width: 100%;
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}

/*************************************************HEADER**********************************************/
.header{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 4em;
	background-color: #058ED9;
	padding-top:1.5em;
	padding-left: 1em;
	color: #F4EBD9;
}
.header p{
	display: inline;
	margin-right: .5em;
}
.header a{
	color:#F4EBD9;
}
.header a:hover{
	color: #483D3F;
}
 .headerleft{
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 2em;
	margin-top: .5em;
}

.headerleft a{
	margin-right: .5em;
}
.logo {
	font-size: 30px;
	margin-right: 1em;
}