/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * #ee4035 • #f37736 • #fdf498 • #7bc043 • #0392cf
 *
 font-family: 'Roboto', sans-serif;
 font-family: 'Alata', sans-serif;
 *= require_tree .
 *= require_self
 */



#cann{
	width: 400px;
	height: 400px;
	position:absolute;
	top:10%;
	left:10%;
	border:2px solid;
}

.picker{
	width: 50px;
	height: 50px;
	display: block;
}

/*************************************************BODY/HTML**********************************************/

html, body{
	font-family: 'Alata', sans-serif;
	background-color: #eaebed;
	color: #483D3F;
}
body{
	width: 100%;
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}

.wrapper{
	width: 100%;
	text-align: center;
	padding: 2em;
}

.header1{
 	width: 100%;
 	text-align: center;
 	height: 5em;
 }

/*************************************************HEADER**********************************************/
.header{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 4em;
	background-color: #058ED9;
	padding-top:1.5em;
	padding-left: 1em;
	color: #F4EBD9;
}
.header p{
	display: inline;
	margin-right: .5em;
}
.header a{
	color:#F4EBD9;
}
.header a:hover{
	color: #7bc043;
}
 .headerleft{
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 2em;
	margin-top: .5em;
}

.headerleft a{
	margin-right: .5em;
}
.logo {
	font-size: 30px;
	margin-right: 1em;
}






/*************************************************HOME**********************************************/


.banner_1{
	height: 9em;
	text-align: center;
	padding-top: 2em;
	background-color: #f37736; 
	margin-top: -1em;
}
.b2{
	background-color: #7bc043;  
}
.b3{
	background-color: #058ED9;  
}
.image_div_container{
	text-align: center;
	padding-bottom: 1em;
}
.image_div_container img{
	height:25em;

}





/*************************************************GAME SHOW **********************************************/

.link_btn{
	display: inline-block;
	margin-top: 1em;
	background-color: #7bc043;
	padding: .5em;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #5d9133;
}
input[type="button"], input[type="submit"] {
	display: inline-block;
	margin-top: 1em;
	background-color: #7bc043;
	padding: .5em;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #5d9133;
}


/*************************************************DRAWER **********************************************/
 
 .form_wrapper{
 	position: absolute;
 	top: 60%;
 	left: 43%;
 }