/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * #ee4035 • #f37736 • #fdf498 • #7bc043 • #0392cf
 *
 font-family: 'Roboto', sans-serif;
 font-family: 'Alata', sans-serif;
 *= require_tree .
 *= require_self
 */



#cann{
	width: 75%;
	height: 400px;
	border:2px solid;
	touch-action: none;
}



/*************************************************BODY/HTML**********************************************/

html, body{
	font-family: 'Alata', sans-serif;
	background-color: #eaebed;
	color: #483D3F;
	width: 100%;
}
body{
	width: 100%;
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #483D3F;
}

.wrapper{
	width: 100%;
	text-align: center;
	padding: 2em;
}

.header1{
 	width: 100%;
 	text-align: center;
 	height: 5em;
 }

 .alert{
 	background-color: #ff3333;
 	color: white;
 	text-align: center;
 	font-size: 20px;
 	padding: 1em;
 }
 .notice{
 	background-color: #058ED9;
 	color: white;
 	text-align: center;
 	font-size: 20px;
 	padding: 1em;
 }

/*************************************************HEADER**********************************************/
.header{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 4em;
	background-color: #058ED9;
	padding-top:1.5em;
	padding-bottom: 1em;
	padding-left: 1em;
	color: #F4EBD9;
}
.header p{
	display: inline;
	margin-right: .5em;
}
.header a{
	color:#F4EBD9;
}
.header a:hover{
	color: #7bc043;
}
 .headerleft{
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 2em;
	margin-top: .5em;
}

.headerleft a{
	margin-right: .5em;
}
.logo {
	font-size: 50px;
}
.headermark{
	height: 50px;
	margin-right: 1.5em;
}






/*************************************************HOME**********************************************/


.banner_1{
	height: 9em;
	width: 101%;
	text-align: center;
	padding-top: 2em;
	background-color: #f37736; 
	margin-top: -1em;
}

.banner_1 a{
	text-decoration: underline;
}
.b2{
	background-color: #7bc043;  
}
.b3{
	background-color: #058ED9;  
}
.image_div_container{
	text-align: center;
	padding-bottom: 1em;
}
.image_div_container img{
	height:25em;

}





/*************************************************GAME SHOW **********************************************/


h3{
	margin-top:2em;
	margin-bottom: 0.5em;
}
.link_btn{
	display: inline-block;
	margin-top: 1em;
	background-color: #7bc043;
	padding: .5em;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #5d9133;
	transition: background-color .5s linear;
}
.link_btn:hover{
	background-color: #058ED9;
	color: white;
}
input[type="button"], input[type="submit"] {
	display: inline-block;
	margin-top: 1em;
	background-color: #7bc043;
	padding: .5em;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #5d9133;
	transition: background-color .5s linear;
}
input[type="submit"]:hover{
	background-color: #058ED9;
	color: white;
}

.drawerform{
	width: 13em;
	margin-right: auto;
	margin-left: auto;
}
.drawerform input[type="checkbox"]{
	float: right;
}
.drawerform input[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*************************************************DRAWER **********************************************/
 
 .form_wrapper{
 	top: 60%;
 	left: 43%;
 }

.picker{
	width: 50px;
	height: 50px;
	display: block;
	border: 2px solid black;
	border-bottom: 0; 
	text-align: center;
}
.last{
	border-bottom: 2px solid black;
}
.start_picker{
	border-color: red;
}


/*************************************************Guesser **********************************************/

.form_clear{
	clear: both;
}


/*************************************************MEDIA QUERIES **********************************************/


@media only screen and (max-width: 1090px) {
  .image_div_container img{
		height:15em;
	} 
}

@media only screen and (max-width: 750px) {
  .image_div_container img{
		height:10em;
	} 
	.header{
		font-size: 13px;
		padding-bottom: 1.3em;
	}
}

@media only screen and (max-width: 710px) {
	.banner_1{
		padding-top: .5em;
		padding-bottom: .5em;
	}
  .banner_1 h1{
		font-size: 25px;
	} 
}

@media only screen and (max-width: 650px) {
	.header{
		height: 8em;
	}
    .headerleft{
    	text-align: center;
		display: block;
		float: none;
	} 
}

@media only screen and (max-width: 535px) {
  .banner_1{
		width:101%;
	} 
}

@media only screen and (max-width: 450px) {
  .wrapper{
		padding: 0;
	} 
}

@media only screen and (max-width: 425px) {

    .header p{
		display: block;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
	} 
	.banner_1{
		height: auto;
		min-height: 9em;
	}
}

@media only screen and (max-width: 333px) {

    .logo{
    	font-size: 40px;
	} 
}

#canvasimg{
	max-width: 90%;
}